{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Actualizar Producto{% endblock %}

{% block content %}
<h2>Actualizar Producto</h2>
<form method="post" action="{% url 'producto_update' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_producto">Producto</label>
        {{ producto_form.producto }}
    </div>
    <div class="form-group">
        <label for="id_stock_actual">Stock Actual</label>
        <input type="text" name="stock_actual" id="id_stock_actual" class="form-control" value="{{ producto_form.stock_actual.value }}" readonly>
    </div>
    <div class="form-group">
        <label for="id_precio_actual">Precio Actual</label>
        <input type="text" name="precio_actual" id="id_precio_actual" class="form-control" value="{{ producto_form.precio_actual.value }}" readonly>
    </div>
    <div class="form-group">
        <label for="id_cantidad">Nuevo Stock</label>
        {{ producto_form.cantidad }}
    </div>
    <div class="form-group">
        <label for="id_costo">Nuevo Precio</label>
        {{ producto_form.costo }}
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const productoSelect = document.getElementById('id_producto');
    const stockActualInput = document.getElementById('id_stock_actual');
    const precioActualInput = document.getElementById('id_precio_actual');

    // Deshabilitar los campos de stock y precio
    stockActualInput.setAttribute('readonly', true);
    precioActualInput.setAttribute('readonly', true);

    productoSelect.addEventListener('change', function() {
       const productoId = this.value;
       if (productoId) {
           fetch(`/productos/api/producto/${productoId}/`, {
               method: 'GET',
               headers: {
                   'X-Requested-With': 'XMLHttpRequest'
               }
           })
           .then(response => {
               console.log('Respuesta de la API:', response);  // Agrega esta línea
               if (!response.ok) {
                   throw new Error('Error en la respuesta de la API');
               }
               return response.json();
           })
           .then(data => {
               console.log('Datos recibidos:', data);  // Agrega esta línea
               if (data.stock_actual !== undefined && data.precio_actual !== undefined) {
                   stockActualInput.value = data.stock_actual;
                   precioActualInput.value = data.precio_actual;
               } else {
                   console.error('Datos no válidos:', data);
               }
           })
           .catch(error => {
               console.error('Hubo un problema con la solicitud fetch:', error);
           });
       } else {
           stockActualInput.value = '';
           precioActualInput.value = '';
       }
   });
});
</script>
{% endblock %}