{% extends 'base.html' %}

{% block title %}Lista de productos{% endblock %}

{% block content %}
<h2>Lista de productos</h2>
{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<a href="{% url 'producto_create' %}" class="btn btn-primary">Cargar Nuevo Producto</a>
<a href="{% url 'producto_update'  %}" class="btn btn-primary">Actualizar Producto</a>
<form method="post" enctype="multipart/form-data" action="{% url 'producto_upload_excel' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mb-3">
        <label for="formFile" class="form-label">Seleccione un archivo de productos</label>
        <input class="form-control" type="file" id="formFile" name="archivo">  
    </div>
    <button type="submit" class="btn btn-primary">Cargar productos</button>
</form>
<br>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id Producto</th>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Categoría</th>
            <th>Proveedor</th>
            <th>Stock actual</th>
            <th>Tipo de medida</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>${{ producto.costo }}</td>
            <td>{{ producto.categoria.nombre }}</td>
            <td>{{ producto.proveedor.nombre }}</td>
            <td>{{ producto.cantidad }}{% if producto.tipo_medida == 'peso' %} kg{% endif %}</td>
            <td>{{ producto.get_tipo_medida_display }}</td>
            <td>
                <a href="{% url 'producto_detail' producto.pk %}" class="btn btn-outline-info">Ver</a>
                <a href="#" class="btn btn-outline-danger" data-producto-pk="{{ producto.pk }}" nombre-producto="{{ producto.nombre }}" onclick="deleteProducto(this)">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No hay productos cargados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function deleteProducto(element) {
        const productoId = element.getAttribute('data-producto-pk');
        const nombreProducto = element.getAttribute('nombre-producto');
        if (confirm(`¿Estás seguro de que deseas eliminar el producto ${nombreProducto}?`)) {
            fetch(`/productos/${productoId}/delete/`, {  
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('No se pudo eliminar el producto.');
                }
            }).catch(error => {
                console.error('Error:', error);
                alert('Ocurrió un error al intentar eliminar el producto.');
            });
        }
    }
</script>
{% endblock %}
