{% extends 'base.html' %}

{% block title %}Nuevo Producto{% endblock %}

{% block content %}
<h2>Nuevo Producto</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.nombre.label_tag }}
        {{ form.nombre }}
    </div>
    <div class="form-group">
        {{ form.categoria.label_tag }}
        {{ form.categoria }}
    </div>
    <div class="form-group">
        {{ form.costo.label_tag }}
        {{ form.costo }}
    </div>
    <div class="form-group">
        {{ form.tipo_medida.label_tag }}
        {{ form.tipo_medida }}
    </div>
    <div class="form-group">
        {{ form.cantidad.label_tag }}
        {{ form.cantidad }}
    </div>
    <div class="form-group">
        {{ form.porcentaje_ganancia.label_tag }}
        {{ form.porcentaje_ganancia }}
    </div>
    <button type="submit" class="btn btn-primary">Guardar Producto</button>
</form>
{% endblock %}
