{% extends 'base.html' %}

{% block title %}Proveedor #{{proveedor.id}} - {{proveedor.nombre}}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="card text-bg-light shadow-lg" style="width: 40rem; border-radius: 15px;">  <!-- Ancho de la card aumentado -->
        <div class="card-header text-center bg-info text-white" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <h4 class="card-title mb-0">Detalles del proveedor #{{ proveedor.id }}</h4>
        </div>
        <div class="card-body px-5 py-4">
            <p><strong>Nombre:</strong> {{ proveedor.nombre }}</p>
            <p><strong>Cuit:</strong> {{ proveedor.cuit }}</p>
            <p><strong>Email:</strong> {{ proveedor.email }}</p>
            <p><strong>Teléfono:</strong> {{ proveedor.telefono }}</p>
            <p><strong>Dirección:</strong> {{ proveedor.direccion }}</p>

            <h5>Productos del proveedor</h5>
            {% if proveedor.producto_set.all %}
                <ul class="list-unstyled"> <!-- Estilo de lista para mejor visualización -->
                    {% for producto in proveedor.producto_set.all %}
                        <li class="d-flex justify-content-start align-items-center"> <!-- Alineación en una sola línea -->
                            <span  style="margin-left:0.5rem;margin-right:0.5rem;"><strong>Producto</strong> #{{ producto.id }} </span><span>&#8212;</span>
                            <span  style="margin-left:0.5rem; margin-right:0.5rem;"><strong> Nombre:</strong> {{ producto.nombre }} </span><span>&#8212;</span>
                            <a href="{% url 'producto_detail' producto.id %}" class="badge rounded-pill text-white bg-primary" style="margin-left:0.5rem; margin-right:0.5rem;">Ver producto</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Este cliente aún no ha realizado ningún pedido.</p>
            {% endif %}
        </div>
        <div class="card-footer d-flex justify-content-between px-5 py-3">
            <a href="{% url 'proveedores_list' %}" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</div>
{% endblock %}
