{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Actualizar estado de pedido{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-center">
            <h2><i class="fas fa-pencil-alt"></i> Actualizar pedido</h2>
        </div>
        <div class="card-body p-5">
            <form method="POST" action="{% url 'actualizar_estado_pedido' pedido_id=pedido.id %}" id="pedidoEstadoUpdate">
                {% csrf_token %}
                <div class="form-group mb-4">
                    <label for="id_pedido">Id del pedido:</label><br>
                    <strong>#{{ pedido.id }}</strong>
                </div>
            
                <div class="form-group mb-4">
                    <label for="id_estado_actual">Estado Actual</label>
                    <input type="text" id="id_estado_actual" class="form-control" value="{{ pedido.estado }}" readonly>
                </div>
            
                <div class="form-group mb-4">
                    <label for="id_estado">Nuevo Estado</label>
                    {{ pedido_form.estado|add_class:"form-control" }}
                </div>
            
                <div class="d-grid gap-2">
                    <a href="{% url 'pedido_list' %}" class="btn btn-secondary btn-lg">
                        <i class="fas fa-chevron-left"></i> Volver
                    </a>
                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="fas fa-check-circle"></i> Confirmar Actualización
                    </button>
                </div>
            </form>            
        </div>
    </div>
</div>



<style>
    body {
        background: linear-gradient(135deg, #f8f9fa, #e0f7fa);
        min-height: 100vh;
    }

    .card {
        border-radius: 1.25rem;
    }

    .card-header {
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
    }

    .input-group-text {
        background-color: #e0f7fa;
    }

    button.btn-success {
        background-color: #28a745;
        border: none;
        transition: background-color 0.3s ease;
    }

    button.btn-success:hover {
        background-color: #218838;
    }
</style>

{% endblock %}
