{% extends 'base.html' %}

{% block title %}Nuevo Pedido{% endblock %}

{% block content %}
<h2>Nuevo Pedido</h2>
<form method="post">
    {% csrf_token %}
    {{ pedido_form.as_p }}
    <h3>Productos</h3>
    <div id="producto-formset">
        {{ producto_formset.management_form }}
        {% for form in producto_formset.forms %}
            <div class="form-group">
                {{ form.producto.label_tag }} {{ form.producto }}
                {{ form.cantidad.label_tag }} {{ form.cantidad }}
                <button type="button" class="btn btn-danger" onclick="removeForm(this)">Eliminar</button>
            </div>
        {% endfor %}
    </div>
    <button type="button" class="btn btn-secondary" id="agregar-producto" onclick="addForm()">Agregar Producto</button>
    <div class="form-group">
        <label>Precio Total</label>
        <input type="text" id="precio-total" value="0" readonly class="form-control">
    </div>
    <a href="{% url 'pedido_list' %}" class="btn btn-secondary">Volver</a>
    <button type="submit" class="btn btn-primary">Crear Pedido</button>
    </form>

    <script>
        function addForm() {
            var formsetDiv = document.getElementById('producto-formset');
            var totalForms = document.querySelectorAll('#producto-formset .form-group').length;
    
            var newForm = formsetDiv.querySelector('.form-group:last-child').cloneNode(true);
    
            var formRegex = /-(\d+)-/g;
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `-${totalForms}-`);
    
            var inputs = newForm.querySelectorAll('input');
            inputs.forEach(input => input.value = '');
    
            formsetDiv.appendChild(newForm);
    
            document.getElementById('id_pedidoproducto_set-TOTAL_FORMS').value = totalForms + 1;
        }
    
        function removeForm(button) {
            var formsetDiv = document.getElementById('producto-formset');
            var formGroup = button.closest('.form-group');
            formsetDiv.removeChild(formGroup);
    
            var totalForms = document.querySelectorAll('#producto-formset .form-group').length;
            document.getElementById('id_pedidoproducto_set-TOTAL_FORMS').value = totalForms;
    
            var forms = document.querySelectorAll('#producto-formset .form-group');
            forms.forEach((form, index) => {
                var formRegex = /-(\d+)-/g;
                form.innerHTML = form.innerHTML.replace(formRegex, `-${index}-`);
            });
        }
    </script>
    
{% endblock %}