{% extends 'base.html' %}

{% block title %}Nuevo cliente{% endblock %}

{% block content %}
<h2>Nuevo cliente</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.nombre.label_tag }}
        {{ form.nombre }}
    </div>
    <div class="form-group">
        {{ form.cuit.label_tag }}
        {{ form.cuit }}
    </div>
    <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div class="form-group">
        {{ form.telefono.label_tag }}
        {{ form.telefono }}
    </div>
    <div class="form-group">
        {{ form.direccion.label_tag }}
        {{ form.direccion }}
    </div>
    <div class="form-group">
        <label for="pais">País</label>
        <select id="pais" class="form-control" name="pais">
            <option value="">Seleccione un país</option>
        </select>
    </div>
    <div class="form-group">
        <label for="provincia">Provincia</label>
        <select id="provincia" class="form-control" name="provincia" disabled>
            <option value="">Seleccione una provincia</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ciudad">Ciudad</label>
        <select id="ciudad" class="form-control" name="ciudad" disabled>
            <option value="">Seleccione una ciudad</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Guardar cliente</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const paisSelect = document.getElementById('pais');
        const provinciaSelect = document.getElementById('provincia');
        const ciudadSelect = document.getElementById('ciudad');
    
        fetch("{% url 'get_paises' %}")
        .then(response => response.json())
        .then(data => {
            data.forEach(pais => {
                const option = document.createElement('option');
                option.value = pais.iso2;
                option.textContent = pais.name;
                paisSelect.appendChild(option);
            });
        });
    
        // Manejar el cambio de país
        paisSelect.addEventListener('change', function() {
            const pais_iso2 = this.value;
            console.log("El pais es :", pais_iso2)
            provinciaSelect.innerHTML = '<option value="">Seleccione una provincia</option>';
            ciudadSelect.innerHTML = '<option value="">Seleccione una ciudad</option>';
            provinciaSelect.disabled = false;
            ciudadSelect.disabled = true;
            var provinciasUrl = "{% url 'get_provincias' 'pais_iso2' %}";

             if (pais_iso2) {
                fetch(provinciasUrl)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al obtener provincias');
                    }
                    return response.json();
                })
                .then(data => {
                    provinciaSelect.innerHTML = '<option value="">Seleccione una provincia</option>';
                    data.forEach(provincia => {
                        const option = document.createElement('option');
                        option.value = provincia.iso2;
                        option.textContent = provincia.name;
                        provinciaSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error en fetch de provincias:', error));
            }
        });

    
        // Manejar el cambio de provincia
        provinciaSelect.addEventListener('change', function() {
            const pais_iso2 = paisSelect.value;
            const provincia_iso2 = this.value;
            ciudadSelect.innerHTML = '<option value="">Seleccione una ciudad</option>';
            ciudadSelect.disabled = true;
    
            if (provincia_iso2) {
                fetch(`/ciudades/${pais_iso2}/${provincia_iso2}/`)
                .then(response => response.json())
                .then(data => {
                    ciudadSelect.disabled = false;
                    data.forEach(ciudad => {
                        const option = document.createElement('option');
                        option.value = ciudad.name;
                        option.textContent = ciudad.name;
                        ciudadSelect.appendChild(option);
                    });
                });
            }
        });
    });
    </script>
{% endblock %}
